<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- telling container to take care of annotations stuff -->
	<context:annotation-config />
	
	<!-- declaring base package -->
	<context:component-scan base-package="com.tomas.controller" />
	
	<!-- adding view resolver to show jsp's on browser -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<bean id="memberDao" class="com.tomas.dao.MemberDaoImplementation" />
	<bean id="reports" class="com.tomas.dao.ReportsImplementation" />
	<bean id="bottomPanelReports" class="com.tomas.dao.BottomPanelReports" />
	<bean id="settings" class="com.tomas.dao.SettingsImplementation" />
	<bean id="hashPassword" class="com.tomas.hashPassword.HashPassword" />
	<bean id="adminImplementation" class="com.tomas.dao.AdminImplementation" />
	
	<bean id="encoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		
	</bean>  
	
	<!-- declare datasource bean -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/gym" />
		<property name="username" value="root" />
		<property name="password" value="tomas" />
	</bean>
	
	<mvc:resources mapping="/resources/**" location="/resources/"
		cache-period="31556926" />

	<mvc:annotation-driven />

</beans>