
/*------- BACKGROUND OVERLAY FOR 'Delete Member', 'Update Settings', 'Remove Products' ------------------------------------------------*/
.confirm_window_background_overlay{
	
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    position: absolute;
    //background: -webkit-linear-gradient(top, #365899 0%, rgba(00, 88, 98, 0.4) 50%, #365899 100%);
    //background: linear-gradient(to bottom, #365899 0%, rgba(00, 88, 98, 0.4) 50%, #365899 100%);
    background: #000000;
    opacity: .8;
    z-index: 100;
    display: none;
}

/*======================================================================================================================================*/
/*------ CONFIRM WINDOW FOR 'Delete Profile' -------------------------------------------------------------------------------------------*/
.confirm_window{
	
    display: none;
    width: auto;
    height: auto;
    background: #fff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
    z-index: 101;
    position: absolute;
    top: 40%;
    right: 10%;
    //transform: translate(-50%, -50%);
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
    //position: relative;
}
.confirm_window .top_image{
	
    width: 80px;
    height: 90px;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow : 0px 0px 10px black;
    float: left;
    margin-bottom: 15px;
}
.confirm_window .content{
	
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	
	height: 70px;
	border: 1px red solid;
}
.confirm_window div{
	
    color: #00003D;
    font-size: 20px;
    display: inline;
    //position: absolute;
    
    //float: left;
    //clear: right;
}
.confirm_window hr{
	
    clear: left;
}
.confirm_window span{
	
    float: left;
    margin: 11px 0px 0px 10px;
}
.confirm_window #confirm_button{
	
    width: 80px;
    height: 25px;
    color: green;
    float: right;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    transition: background 1s;
    outline: 0;
}
.confirm_window #cancel_button{
	
    width: 80px;
    height: 25px;
    color: red;
    float: right;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    transition: background 1s;
    outline: 0;
}
.confirm_window #confirm_button:hover, .confirm_window #cancel_button:hover{
	
    background: #B2BFD2;
}


/*=========================================================================================================================================*/
/*--------- CONFIRM WINDOW FOR 'All Settings' ---------------------------------------------------------------------------------------------*/
.confirm_settings_window{
	
	position: absolute;
    top: 28%;
    right: 10%;
	
    display: none;
    width: auto;
    height: auto;
    background: #fff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
    z-index: 101;
    
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
}

.confirm_settings_window .top_image{
	
	//border: 1px green solid;
}

.confirm_settings_window .top_image img{
	
	
	
    width: 80px;
    height: 90px;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow : 0px 0px 10px black;
    display: inline;
}

.confirm_settings_window #top_message{
	line-height: 50px;
	//border: 1px blue solid;
	margin: -65px 0px 0px 90px;
	width: auto;
	height: 50px;
	//display: inline;
	
	color: #00003D;
    font-size: 20px;
}

.confirm_settings_window .details_message{
	
	
	width: 100%;
	height: auto;
	
	margin-top: 40px;
	margin-bottom: 50px;
	
	//border: 1px red solid;
}

.confirm_settings_window .details_message div{
	
	line-height: 30px;
	height: 30px;
	
	color: #00003D;//#2e4c84;
	font-size: 15px;
	font-weight: bold;
	
	border-top: 1px #666666 solid;
}

.confirm_settings_window .details_message div label{
	
	float: right;
}

.confirm_settings_window .details_message div .update_value{
	
	//float: right;
	color: #73008C;
	font-size: 16px;
}


.confirm_settings_window .confirm_button{
	
    width: 80px;
    height: 25px;
    color: green;
    float: right;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    transition: background 1s;
    outline: 0;
}
.confirm_settings_window .cancel_button{
	
    width: 80px;
    height: 25px;
    color: red;
    float: right;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    transition: background 1s;
    outline: 0;
}
.confirm_settings_window #confirm_button:hover, .confirm_settings_window #cancel_button:hover{
	
    background: #B2BFD2;
}


/*====================================================================================================================================*/
/*--------- POPUP WINDOW ON SUCCESSFULL SUBMIT/UPDATE PROFILE ----------------------------------------------------------------------- */
.popup_window{
	
    display: none;
    width: 600px;
    height: auto;
    background: #628794;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
    z-index: 110;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}
#popup_window_text{
	
    color: #D3D3D3;
    font-size: 26px;
    margin: 0px 0px 10px 0px;
    text-align: center;
}

.popup_window strong{
	
    color: white;
    font-size: 28px;
}
.popup_window #successfull_add_update_image{
	
    width: 50px;
    height: 50px;
    margin: 10px 0px 0px 275px;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow : 0px 0px 10px black;
}
.popup_window #check_in_image{
	
    width: 90px;
    //height: 110px;
    float: left;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow : 0px 0px 10px black;
}


/*================================================================================================================================*/
/*--------- POPUP TO SHOW VISITED DATES AND TIMES WHEN CLICKED ON 'Visits' COLUMN ------------------------------------------------*/
.popup_visits{
	
	display: none;
	
	position: absolute;
	top: 85px;
	right: 50px;
	
	width: auto;
	heigth: auto;
	
	padding: 8px;
	border-radius: 5px;
	
	-webkit-box-shadow : 0px 0px 10px black;
	box-shadow : 0px 0px 10px black;
	
	z-index: 200;
}

/*---- click this to exit popup window ----*/
.popup_visits .exit_popup{
	
	position: absolute;
	top: 5px;
	right: 5px;
}

.popup_visits .exit_popup img{
	
	width: 22px;
	height: 22px;
	
	border-radius: 10px;
	cursor: pointer;
	
	opacity: .8;
}

/*------- header ------------------------------------------------*/
.popup_visits .popup_visits_header{
	
	width: 800px;
	height: auto;
	
	padding: 0px 3px 3px 3px;
	
	background: #8585ad;
}

.popup_visits .popup_visits_header table{
	
	border-collapse: collapse;
	width: 100%;
	
	color: #ffffff;
	
	text-align: center;
	
	//text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}

.popup_visits_header table tr{
	
	height: 30px;
}

.popup_visits_header table #visitor_name{
	
	border-bottom: 1px #5c5c8a solid;
	
	font-size: 14px;
}

.popup_visits_header table #visitor_name span, .top_panel #description_middle_top_panel span{
	
	font-size: 17px;
	
	font-weight: bold;
	
	text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}

.popup_visits_header table #visited_date, .popup_visits_header table #visited_time{
	
	border-right: 1px #ffffff solid;
	
	//padding-top: 3px;
}

/*-------- body -----------------------------------------------*/
.popup_visits_body{
	
	max-height: calc(100vh - 250px);
	
	overflow-y: auto;
}
.popup_visits_body table{
	
	width: 100%;
	max-height: 50px;
	
	color: #555;
	text-align: center;
	
	border-collapse: collapse;
	background: #efeff5;
}

.popup_visits_body table tr{
	
	height: 25px;
	border: 1px #cccccc solid;
}

.popup_visits_body table tr:nth-child(even){
	
	background: #E2E2E6;
}

.popup_visits_body table #visited_date_body, .popup_visits_body table #visited_time_body{
	
	width: 276px;
	
	border-right: 1px #ffffff solid;
}

.popup_visits_body table #visited_time_body{
	
	width: 281px;
	
	border-right: 1px #ffffff solid;
}

.popup_visits_body table #week_day_body{
	
	//width: 266px;
	
	border-right: 1px #ffffff solid;
}



/*======================================================================================================================*/
/*-------- CHECK-IN POPUP WINDOW ---------------------------------------------------------------------------------------*/
.check_in_window{
	
	position: absolute;
	top: 100px;
	right: 100px;
	
	width: 850px;
	height: 328px;
	
	z-index: 108;
	box-shadow: 0px 0px 5px #ffffff;
	
	display: none;
	
	border: 1px #ffffff solid;
	
	
}

/*----- TOP PANEL ----------------------------------------------------------------------------------------------------*/
.check_in_window .top_panel{
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	
	width: 100%;
	height: 40px;
	//padding-top: 10px;
	background: -webkit-linear-gradient(top, #365899 0%, rgba(161, 182, 222, 1) 50%, #365899 100%);
    background: linear-gradient(to bottom, #365899 0%, rgba(161, 182, 222, 1) 50%, #365899 100%);
	
	//border: 5px #ffffff solid;
}
.check_in_window .top_panel label{
	
	margin: 20px 0px 0px 45px;
	
	color: #ffffff;
	font-size: 24px;
	
	font-weight: bold;
	text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}
.check_in_window .search_customer{
	
	float: right;
	width: 200px;
	height: 25px;
	
	margin: 5px 10px 0px 0px;
	padding-left: 7px;
	
	font-size: 16px;
}

/*==================================================================================================================*/
/*---- MIDDLE PANEL ------------------------------------------------------------------------------------------------*/
.check_in_window .image{
	
	position: absolute;
	top: 41px;
	left: 0;
	
	width: 205px;
    height: 247px;
    
    overflow: hidden;
	
	
	//border: 5px green solid;
}
.check_in_window .image img{
	
	width: 100%;
}

.check_in_window .customer_names{
	
	position: absolute;
	top: 40px;
	left: 205px;
	right: 0;
	bottom: 40px;
	
	background: #ffffff;
	
	border-left: 1px #cccccc solid;
	//border: 5px pink solid;
}

/*----- table header in the middle_panel ---------*/
.check_in_window .customer_names .table_header{
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	
	height: 40px;
	
	color: #ffffff;
	background: -webkit-linear-gradient(top, #365899 0%, rgba(161, 182, 222, 1) 50%, #365899 100%);
    background: linear-gradient(to bottom, #365899 0%, rgba(161, 182, 222, 1) 50%, #365899 100%);
	text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
	
	border-top: 1px #ffffff solid;
	
	//border: 1px blue solid;
}
.check_in_window .customer_names .table_header .first{
	
	width: 70px;
	height: 36px;
	line-height: 36px;
	
	margin-top: 2px;
	text-align: center;
	
	border-right: 1px #ffffff solid;
}
.check_in_window .customer_names .table_header .second{
	
	width: 210px;
	height: 36px;
	line-height: 36px;
	
	margin-top: 2px;
	text-align: center;
	
	border-right: 1px #ffffff solid;
}
.check_in_window .customer_names .table_header .third{
	
	width: 200px;
	height: 36px;
	line-height: 36px;
	
	margin-top: 2px;
	text-align: center;
	
	border-right: 1px #ffffff solid;
	
	//border: 1px #ffffff solid;
}
.check_in_window .customer_names .table_header .fourth{
	
	width: 90px;
	height: 36px;
	line-height: 36px;
	
	margin-top: 2px;
	text-align: center;
	
	//border: 1px #ffffff solid;
}

/*------ table body in the middle_panel -----------*/
.check_in_window .table_body table{
	
	//border-collapse: collapse;
	width: 100%;
}
.check_in_window .table_body{
	
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
	
	color: #00003D;
	overflow-y: auto;
	
	//border: 2px green solid;
}
.check_in_window .customer_names .table_body .first{
		
	width: 71px;
	
	text-align: center;
	
	border-right: 1px #ffffff solid;
}
.check_in_window .customer_names .table_body .second{
	
	width: 212px;
	
	text-align: center;
	
	border-right: 1px #ffffff solid;
}

.check_in_window .customer_names .table_body .third{
	
	width: 202px;
	
	font-size: 14px;
	text-align: center;
	
	border-right: 1px #ffffff solid;
}
.check_in_window .customer_names .table_body .fourth{
	
	width: 0px;
	
	color: #001a00;
	text-align: center;
}
.check_in_window .customer_names .table_body .fourth p{
	
	color: #660000;
	font-size: 11px;
	margin: -3px 0px -5px 0px;
}

.check_in_window .table_body .third span{
	
	float: right;
	//margin-right: 15px;
	color: #023a0c;
}

.check_in_window .table_body table{
	
	border-collapse: collapse;
}
.check_in_window .table_body tr:nth-child(even){
	
	background: #E2E2E6;
}
.check_in_window .table_body tr:hover{
	
	color: white;
    background: #B2BFD2;
}
.check_in_window .table_body table tr{
	
	height: 40px;
	
	cursor: pointer;
	
	border: 1px #cccccc solid;
}
/*----- BOTTOM PANEL -----------------------------------------------------------------------------------------------*/
.check_in_window .bottom_panel{
	
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	
	height: 40px;
	
	background: -webkit-linear-gradient(top, #365899 0%, rgba(161, 182, 222, 1) 50%, #365899 100%);
    background: linear-gradient(to bottom, #365899 0%, rgba(161, 182, 222, 1) 50%, #365899 100%);
	
	//border: 1px yellow solid;
}
.check_in_window .bottom_panel .back_button{
	
	float: left;
    color: #21375e;
    width: 100px;
    height: 25px;
    
    margin: 7px 0px 0px 50px;
    
    border-radius: 5px;
    //box-shadow : 1px 1px 2px black;
    cursor: pointer;
    background: #C2C2D6;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    transition: background 1s;
}
.check_in_window .bottom_panel .back_button:hover{
	
	background: white;
}


/*======================================================================================================================*/
/* ------- INPUT VALIDATION UNSUCCESSFULL POPUP WINDOW ON SUBMIT, REPORT DISPLAY, ETC ----------------------------------*/
.error_background_overlay{
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	background: rgba(0, 0, 0, .3);
	z-index: 191;
	display: none;
}
.error_window{  /* 'add_update_validation.js' */

    display: none;
    width: 600px;
    height: auto;
    background: #628794;
    border: 1px solid black;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    z-index: 192;
    position: fixed;
    top: 15%;
    left: 30%;
    transform: translate(-50%, -15%);
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}

.error_window img{
    width: 50px;
    height: 50px;
    margin: 20px 0px 0px 275px;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow : 0px 0px 10px black;
}


/*=================================================================================================================*/
/*-------- FAULT (ERROR) POP-UP WINDOW TEXT -----------------------------------------------------------------------*/
.fault{ /*-- main text -----------*/
	
	font-size: 20px;
	color: #ffe6e6;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fault_reason{ /*--- the name of faulty field ---*/
	
	font-size: 24px;
	color: white;
	
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.faulty_format{ /*--- the faulty text entered in the field --*/
	
	font-size: 24px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}













