
/*------ WHOLE CONTENT OF 'products_sales.jsp' -------------------------------------------------------------------------------------*/
.products_content{
	
	position: relative;
	//background: rgba(56,56,56, .7);
	height: calc(100vh - 93px);
}

/*------- PRODUCTS LEFT BLOCK ------------------------------------------------------------------------------------------------------*/
#left_products_block{
	
	position: absolute;
	top: 2px;
	left: 0;
	
	width: 25%;
	height: 100%;
	
	border-right: 1px #ffffff solid;
	text-align: center;
	//background: rgba(255, 255, 255, .7);
	background: rgba(56,56,56, .7);
}

/*#left_settings_block::after {
	
  content: "";
  
  background-image: url(../images/sport.jpg);
  background-size: cover; 
 
  opacity: .75;
  
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  
  z-index: -5;
}*/

#left_products_block #admin_name{
	
	width: 100%;
	height: 120px;
	
	color: #ffffff;
    
    text-align: center;
	padding-top: 10%;
	
	background: -webkit-linear-gradient(top, #365899 0%, rgba(00, 88, 98, 0.4) 50%, #365899 100%);
    background: linear-gradient(to bottom, #365899 0%, rgba(00, 88, 98, 0.4) 50%, #365899 100%);
    
    border-bottom: 1px #ffffff solid;
    
    text-shadow: -1px 0 #666666, 0 1px #666666, 1px 0 #666666, 0 -1px #666666;
    
    pointer-events: none;
}
#left_products_block #admin_name::after{
	
	content: "";
  
  
 
  
  
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 160px;
  //background: #ffffff;
  
  z-index: -3;
}

#left_products_block #admin_name #admin_user_name{
	
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
	
	text-shadow: -1px 0 #666666, 0 1px #666666, 1px 0 #666666, 0 -1px #666666;
	//text-shadow: -1px 0 #999999, 0 1px #999999, 1px 0 #999999, 0 -1px #999999;
}

/*-------- SELECTION BUTTONS IN THE LEFT ('admin details', 'programmes prices', 'products sales') ----------------------------------*/
#left_products_block #add_new_product, #left_products_block #display_products, 
#left_products_block #sold_product, #left_products_block #reserved_product{
	
	line-height: 50px;
	
	width: 100%;
	height: 50px;
	
	cursor: pointer;
	
	background: -webkit-linear-gradient(top, #365899 0%, rgba(161, 182, 222, 1) 50%, #365899 100%);
    background: linear-gradient(to bottom, #365899 0%, rgba(161, 182, 222, 1) 50%, #365899 100%);
	
	
    transition: all 0.5s;
    
	border-bottom: 1px #ffffff solid;
	
}
#left_products_block #add_new_product:hover, #left_products_block #display_products:hover,
 #left_products_block #update_product:hover, #left_products_block #sold_product:hover, #left_products_block #reserved_product:hover{
	
	color: #ffffff;
	
	background: -webkit-linear-gradient(top, #365899 0%, rgba(142, 167, 215, 1) 50%, #365899 100%);
    background: linear-gradient(to bottom, #365899 0%, rgba(142, 167, 215, 1) 50%, #365899 100%);
    font-weight: bold;
	//background: rgba(00, 88, 98, 0.4) 50%;
}

/*------------- HIGHLIGHTED SETTINGS ROW (in 'left_settings_block') ----------------------------------------------------------------*/
.highlighted_settings_row{
	
	color: #ffffff;
	
	pointer-events: none;
	font-weight: bold;
	
	background: -webkit-linear-gradient(top, #365899 0%, rgba(00, 88, 98, 0.4) 50%, #365899 100%);
    background: linear-gradient(to bottom, #365899 0%, rgba(00, 88, 98, 0.4) 50%, #365899 100%);
    
    text-shadow: -1px 0 #666666, 0 1px #666666, 1px 0 #666666, 0 -1px #666666;
}


/*==================================================================================================================================*/
/*------------ RIGHT PRODUCTS / SALES BLOCK ----------------------------------------------------------------------------------------*/
#right_products_block{
	
	position: absolute;
	top: 0;
	right: 0;
	
	width: 75%;
	height: 100%;
	
	background: rgba(232,232,232, .9);
}

/*------ hide all blocks when loading page -------------*/
#add_new_product_block, #update_product_block, #display_products_block, #sold_products_block, #reserved_products_block{
	
	position: relative;
	background: #ffffff;
	height: 100%;
	display: none;
}



/*==================================================================================================================================*/

/*------ THIS IS DROP-DOWN MENU IN 'Display Products' to choose Products type ------------------------------------------------------*/
#right_products_block #products_types{
	
	position: absolute;
	top: 20px;
	left: 20px;
	
	width: 45%;
	height: 50px;
	
	padding-left: 5px;
	//background: #365899;
	
	background: -webkit-linear-gradient(top, #365899 0%, rgba(00, 88, 98, 0.4) 50%, #365899 100%);
    background: linear-gradient(to bottom, #365899 0%, rgba(00, 88, 98, 0.4) 50%, #365899 100%);
    
	border-radius: 2px;
}

/*------ INPUT FOR DROP-DOWN MENU (disabled) ---------------------------------------------------------------------------------------*/
#right_products_block #products_types input {
	
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #ffffff;
    width: 90%;
    height: 45px;
    
    padding-left: 5px;
    
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
    
    text-shadow: -1px 0 #666666, 0 1px #666666, 1px 0 #666666, 0 -1px #666666;
}

/*-------- DROP-DOWN MENU, WHOLE BLOCK ---------------------------------------------------------------------------------------------*/
#right_products_block #products_types #products_dropdown{
	
	position: absolute;
	top: 51px;
	left: 0;
	
	width: 100%;
	text-align: center;
	color: #ffffff;
	
	background: -webkit-linear-gradient(top, #365899 0%, rgba(00, 88, 98, 0.7) 50%, #365899 100%);
    background: linear-gradient(to bottom, #365899 0%, rgba(00, 88, 98, 0.7) 50%, #365899 100%);
    
    box-shadow: 0px 5px 8px #4d4d4d;
	
	z-index: 100;
	
	display: none;
}

#right_products_block #products_types #products_dropdown div{
	
	height: 45px;
	line-height: 45px;
	
	cursor: pointer;
	border-bottom: 1px solid #ffffff;
	
	transition: background 0.5s;
	
	text-shadow: -1px 0 #666666, 0 1px #666666, 1px 0 #666666, 0 -1px #666666;
}

#right_products_block #products_types #products_dropdown div:hover{
	
	background: #2e4c84;
}

/*------- DROP DOWN IMAGE ARROW ------------------------------------------------------------------------------------------------------*/
#right_products_block #products_types #products_drop_down_arrow{
	
	position: absolute;
	top: 2px;
	right: 2px;
	
	width: 46px;
	height: 46px;
	
	border-radius: 2px;
	cursor: pointer;
}
/*====================================================================================================================================*/



/*===================================================================================================================================*/

/*------ IMAGE AND UPLOAD BUTTON ---------------------------------------------------------------------------------*/
#add_new_product_block img, #update_product_block img{
	
   width: 100%;
   height: auto;
   border-radius: 5px;
   border: 1px solid #D3D3D3;
   box-shadow : 4px 4px 4px black;
   overflow: hidden;
   
}
#add_new_product_block .image, #update_product_block .image{
	
    margin: 0px 0px 20px 0px;
    width: 214px;
    height: 240px;
    border-radius: 5px;
    
    border: none;
    overflow: hidden;
}
#add_new_product_block .upload_picture_button, #update_product_block .upload_picture_button{
	
	margin: -45px 0px 0px 230px;
}
input[type="file"]{
	
	display: none;
}
/*=================================================================================================================*/


/*------- ADD PRODUCTS FIELDS,
--------- DISPLAY PRODUCTS FIELDS (prices, discounts, etc) --------------------------------------------------------*/
#add_new_product_fields, #update_product_fields, .products_displayed{
	
	position: absolute;
	top: 80px;
	left: 20px;
	right: 20px;
	
	height: calc(100vh - 250px);
	overflow-y: auto;
	
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}
.products_displayed{
	
	height: calc(100vh - 185px);
}
/*==================================================================================================================*/
/*------- PRODUCT BLOCK (DISPLAYED WHEN 'Display Products') IS CLICKED ---------------------------------------------*/
.products_displayed .product_block{
	
	position: relative;
	
	height: 180px;
	
	border-bottom: 1px black solid;
}
.product_block .image{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 27%;
	
	overflow: hidden;
	
	
	//border: 1px black solid;
}
.product_block img{
	
	height: 100%;
}
.product_block .product_info_block{
	
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 73%;
	
	overflow: hidden;
	//border: 1px green solid;
}
.product_info_block .product_info{
	
	width: auto;
	margin: 4px 0px 0px 5px;
	//border: yellow 1px solid;
}
.product_info_block .product_info div{
	
	display: inline-block;
	width: 130px;
	color: #2e4c84;
	
	font-size: 18px;
	
	//border: 1px green solid;
}
.product_info_block .product_info span{
	
	color: #73008C;
}

/*---- bottom panel with small table for customer and dates details in 'products_block' ---*/
.product_block .bottom_table{
	
	position: absolute;
	right: 0;
	bottom: 0;
	
	width: 73%;
	height: 70px;
	
	border: 1px #cccccc solid;
}
.product_block .bottom_table table{
	
	width: 100%;
	height: 100%;
	
	table-layout: fixed;
	//border-collapse: collapse;
	text-align: center;
	
	border: 1px #cccccc solid;
}
.product_block .bottom_table .bottom_table_header{
	
	color: #ffffff;
	//font-weight: bold;
	
	background: -webkit-linear-gradient(top, #365899 0%, rgba(161, 182, 222, 1) 50%, #365899 100%);
    background: linear-gradient(to bottom, #365899 0%, rgba(161, 182, 222, 1) 50%, #365899 100%);
    
    text-shadow: -1px 0 #666666, 0 1px #666666, 1px 0 #666666, 0 -1px #666666;
}
.product_block .bottom_table .bottom_table_body{
	
	color: #062556;
	
	cursor: pointer;
}
.product_block .bottom_table .bottom_table_body:hover{
	
	background: #e3e9f2;
	
}

/*================================================================================================*/
/*----- BUTTON TO SELL RESERVED PRODUCT 'Reserved Products' --------------------------------------*/
#reserved_products_block .bottom_table .sell_reserved_button{
	
	position: absolute;
	right: 0;
	bottom: 75px;
	
	color: #004d00;
	width: 100px;
	
	cursor: pointer;
}

/*---- bottom panel with buttons in 'product_block' ----------------------------------------------*/
.product_block .product_block_bottom{
	
	position: absolute;
	right: 0;
	bottom: 0;
	
	width: 73%;
	height: 30px;
	
	border-top: 1px #cccccc solid;
}
.product_block_bottom .order_button{
	
	width: 70px;
	
	float: left;
	margin: 5px 0px 0px 5px;
	
	cursor: pointer;
}
.product_block_bottom .sell_button{
	
	width: 70px;
	
	float: left;
	margin: 5px 0px 0px 5px;
	
	cursor: pointer;
}
.product_block_bottom .remove_button{
	
	width: 70px;
	
	color: #e60000;
	float: right;
	margin: 5px 5px 0px 0px;
	
	cursor: pointer;
}
.product_block_bottom .update_button{
	
	width: 70px;
	
	float: right;
	margin: 5px 5px 0px 0px;
	
	cursor: pointer;
}
/*====================================================================================================================*/


#add_new_product_fields .image_block, #update_product_fields .image_block{
	
	height: 260px;
	border: none;
}
#add_new_product_fields div, #update_product_fields div{
	
	line-height: 50px;
	height: 50px;
	
	color: #2e4c84;
	font-size: 17px;
	font-weight: bold;
	
	border-top: 1px #666666 solid;
}
#add_new_product_fields div label, #update_product_fields div label{
	
	float: left;
}

#add_new_product_block div span, #update_product_block div span{
	
	margin: 25px 0px 0px 15px;
	
	float: left;
	font-style: oblique;
	
	color: #0d1626;
	font-size: 22px;
	font-weight: bold;
}

#add_new_product_fields select, #update_product_fields select{
	
	float: right;
	width: 200px;
	height: 30px;
	
	color: #73008C;
	margin-top: 10px;
	
	outline: none;
}

#add_new_product_fields .radio_buttons, #update_product_fields .radio_buttons{
	
	float: right;
	//margin-right: -50px;
	
	border: none;
}

#add_new_product_fields .radio_buttons div, #update_product_fields .radio_buttons div{
	
	display: inline;
	margin-right: -50px;
	font-size: 13px;
	color: #73008C;
	
	border: none;
}

/*-------- INPUTS IN ADD PRODUCT AND DISPLAY PRODUCTS SETTINGS FIELDS --------------------------------------------------------------------------*/
#add_new_product_fields div input, #update_product_fields div input{
	
	float: right;
	
	margin: 13px 15px 0px 0px;
	width: 140px;
	height: 20px;
	
	border: 0;
	background: transparent;
	
	color: #73008C;
	font-size: 17px;
	font-weight: bold;
	text-align: right;
}

#add_new_product_fields div input:focus, #update_product_fields div input:focus{
	
	border-bottom: 1px #73008C solid;
}

/*--- div's for description textarea's -------*/
#add_new_product_fields #product_description_block, #update_product_fields #product_description_block{
	
	height: 140px;
}

#add_new_product_fields textarea, #programmes_settin_fields textarea, #update_product_fields textarea{
	
	float: right;
	
	width: 50%;
	height: 100px;
	
	margin-top: 18px;
	text-indent: 5px;
	
	border: 1px #2e4c84 solid;
}

/*=================================================================================================================================*/
/*--------- ADD NEW PRODUCT SUBMIT BUTTON -----------------------------------------------------------------------------------------*/
#add_new_product_block #add_new_product_submit_button, #update_product_block #update_product_submit_button{
	
	position: absolute;
	bottom: 15px;
	right: 15px;
	
	width: 30%;
	height: 40px;
	
	font-size: 17px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
    
    background: -webkit-linear-gradient(to bottom, #365899 0%, rgba(00, 88, 98, 0.4) 50%, #365899 100%);
    background: linear-gradient(to bottom, #365899 0%, rgba(00, 88, 98, 0.4) 50%, #365899 100%);
    transition: background 0.5s;
    
    box-shadow: 0px 5px 8px #4d4d4d;
    
    text-shadow: -1px 0 #666666, 0 1px #666666, 1px 0 #666666, 0 -1px #666666;
}

#add_new_product_block #add_new_product_submit_button:hover, #update_product_block #update_product_submit_button:hover{
	
    background: #2e4c84;
}


/*=================================================================================================================================*/
/*----- CONFIRM 'Remove' PRODUCT --------------------------------------------------------------------------------------------------*/
#display_products_block .products_displayed .confirm_remove_button,
#update_product_block #confirm_update_product_submit_button,
#add_new_product_block #confirm_add_new_product_submit_button{
	
	display: none;  
}



