
.to_do_list_content{
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	//width: 100%;
	//height: 100%;
	
	background: #ffffff;
}

.to_do_list_content h1{
	
	color: #2e4c84;
	text-align: center;
	
	margin-top: 50px;
	
}